<?xml version="1.0" encoding="UTF-8"?>
<suite name="Demo Suite" parallel="false">
	<listeners>
		<listener class-name="com.plancess.selenium.reporter.PlancessReporter" />
	</listeners>
	<test name="Search Test">
		<classes>
			<class name="com.plancess.selenium.tests.SearchTest" />
			<!-- <class name="com.plancess.selenium.tests.WebDriverDemoShootoutTest"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
